<h1> Add A Doctor:</h1>

<form action="/new_doctor" method= "post">
  <div class="form-group">
    <label class="form-label" for="doctor_name">Yo Add a Doctor</label>
    <input class="form-control" name="name" id="name" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="doctor_specialty">Yo Add a Doctor's Specialty</label>
    <input class="form-control" name="specialty" id="specialty" type="text">
  </div>
  <a href="/"><button type="button" class="btn btn-dark">Home</button></a>
  <button type="submit" class="btn btn-danger"> Add Doctor </button>
</form>
